.gradle
/build
/composeApp/build
/desktop/build
.idea
local.properties
*.hprof
*.pyc
.DS_Store
out
captures
.externalNativeBuild
.cxx
/google-services.json
.vscode
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
bin
obj
release_artifacts/
